@import url(./__btn-close/popup__btn-close.css);
@import url(./__btn-save/popup__btn-save.css);
@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__input/_profile/popup__input_profile_name.css);
@import url(./__input/_profile/popup__input_profile_occupation.css);
@import url(./__title/popup__title.css);

.popup {
    
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
}
